<div style='text-align: center;'>
  <img src="../assets/logo.png" alt="logo" height="100" width="100" class="logo">
  <h1>LCO TODO APP</h1>

</div>
<div class="container">
  Add A TODO...
  <br>
  <input (keyup.enter)="addItem()" [(ngModel)]='todoValue' type="text" class="input-text" placeholder="add TODO">
  <button (click)='addItem()'>Add TODO</button>
  <div class="list">
    <ul>
      <li *ngFor="let item of list">
        <input type="checkbox" name="isDone" [(ngModel)]='item.isDone'>
        {{item.value}}
      </li>
    </ul>
  </div>
</div>